h1 {
  color: orange;
  text-align: center;
  font-weight: 900;
}

.myCars {
  border-radius: 8px;
  background-color: #ADD8E6;
  min-height: 250px;
}

.jumbotron {
  background-image: url(https://images5.alphacoders.com/314/314026.jpg)
}

.bigBorder {
  border: solid 10px;
  background-color: gold;
}